<div class="menu-lateral-section">
    <ul id="menu-lateral-ul">
      <a href="adm_paginas.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Cores
          </div>
        </li>
      </a>
      <a href="adm_filiais.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Filiais
          </div>
        </li>
      </a>
      <a href="adm_cabecalho.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Cabeçalho
          </div>
        </li>
      </a>
      <a href="adm_categoria.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Categoria
          </div>
        </li>
      </a>
      <a href="adm_contato.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Contato
          </div>
        </li>
      </a>
      <a href="adm_destaque.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Destaques
          </div>
        </li>
      </a>
      <a href="adm_eventos.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Eventos
          </div>
        </li>
      </a>
      <a href="adm_faq.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Faq
          </div>
        </li>
      </a>
      <a href="adm_galeria.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Galeria
          </div>
        </li>
      </a>
      <a href="adm_home.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Home
          </div>
        </li>
      </a>
      <a href="adm_login.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Login
          </div>
        </li>
      </a>
      <a href="adm_prato.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Pratos
          </div>
        </li>
      </a>
      <a href="adm_redes_sociais.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Redes Sociais
          </div>
        </li>
      </a>
      <a href="adm_sobre.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Sobre
          </div>
        </li>
      </a>
      <a href="adm_ocorrencia.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Ocorrencia
          </div>
        </li>
      </a>
      <a href="adm_brinde.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Adm. Brinde
          </div>
        </li>
      </a>
      <a href="adm_nota_brinde.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Validar Brindes
          </div>
        </li>
      </a>
      <a href="adm_reservas.php">
        <li>
          <div class="imagem-li">

          </div>
          <div class="titulo-li">
              Validar Reservas
          </div>
        </li>
      </a>
    </ul>
</div>
