/*
	CSS da página de reservas
	Feito por: Larissa Oliveira
	Data:11/09/2017
 */

#slide{
    width:100%;
    height:680px;
    border:solid 1px black;
}

#campos_reserva{
	z-index:999;
    width:900px;
    height:200px;
    padding:20px;
	margin:-180px auto 0px auto;
	position:relative;
    border:solid 1px transparent;
}
#tbl_campos{
    width:800px;
    height:200px;
    padding:25px;
    padding-left:40px;
    padding-right:40px;
    background-color: white;
    border:solid 1px black;
}
#tbl_campos tr td{
    font-size: 20px;
    border:solid 1px transparent;
}
#tr_maior{
    width:500px;
}
#tr_menor{
    max-width:150px;
}
.botao{
    width:150px;
    height:20px;
    float:right;
    cursor:pointer;
    background-color: white;
    padding-bottom: 30px !important;
    padding-top: 5px !important;
    border-radius: 5px;
    border:solid 1px transparent !important; 
    border-bottom:solid 1px transparent !important;
    box-shadow: 2px 2px 15px #505050;
}
select{
    margin:0;
    padding:0;
    width:auto;
    font-size: 18px;
    font-family: aller_lightregular;
}


/*** Light Box ***/

.background{
    top:0;
    left:0;
    width:100%;
    height:1700px;
    position:absolute;
    z-index:1000;
    background-color:#000;
    opacity:0;
    display:none;
}
.box{
    position:relative;
	margin:-400px auto 0px auto;
    width:900px;
    height:650px;
    z-index:1001;
    background-color:#FFF;
    padding:15px;
    border-radius:5px;
    display:none;
}
.box img{
	margin-top:28px;
	position:absolute;
}
.fechar{
	width:100%;
	position:absolute;
    float:right;
    cursor:pointer;
}
table tr td p a{
    text-decoration: none;
    color:black;
    font-weight: lighter;
}

/** ** Slide ** **/
.loader{
	width:70px;
	height:70px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-35px 0px 0px -35px;
	opacity:0.7;
	z-index:1000;
	background:#fff url(../images/loader.gif) no-repeat center center;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:0px 0px 5px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}
.bg_image img{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:0;
}
.ps_container{
	display:none;
	width:92%;
	height:700px;
	margin:20px auto 0px auto;
	position:relative;
}
.ps_image_wrapper{
	width:100%;
	height:650px;
	overflow:hidden;
	position:relative;
	margin:0 auto;
	-moz-box-shadow:0px 0px 5px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}
.ps_image_wrapper img{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:650px;
	z-index:0;
	margin:0 auto;
}
.ps_prev,
.ps_next{
	width:30px;
	height:59px;
	position:absolute;
	top:50%;
	margin-top:-40px;
	cursor:pointer;
	opacity:0.5;
}
.ps_prev{
	background:transparent url(../imagens/prev.png) no-repeat top center;
	left:-50px;
}
.ps_next{
	background:transparent url(../imagens/next.png) no-repeat top center;
	right:-50px;
}
.ps_prev:hover,
.ps_next:hover{
	opacity:0.9;
}
ul.ps_nav{
	list-style:none;
	margin:0;
	padding:0;
	width:170px;
	position:relative;
}
ul.ps_nav li{
	float:left;
}
ul.ps_nav li a{
	display:block;
	text-indent:-9000px;
	width:11px;
	height:11px;
	outline:none;
	padding:0px 3px;
	background:transparent url(../images/dot.png) no-repeat top center;
}
ul.ps_nav li a:hover,ul.ps_nav li.selected a{
	background-position:50% -11px;

}
ul.ps_nav li.ps_preview{
	display:none;
	width:85px;
	height:91px;
	top:-95px;
	left:-34.5px;
	position:absolute;
}
ul.ps_nav li.ps_preview span{
	background:transparent url(../images/triangle.png) no-repeat top center;
	width:15px;
	height:6px;
	position:absolute;
	top:85px;
	left:35px;
}
.ps_preview_wrapper{
	width:75px;
	height:75px;
	border:5px solid #fff;
	overflow:hidden;
	position:relative;
	-moz-box-shadow:0px 0px 5px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}
.ps_preview_wrapper img{
	position:absolute;
	top:0px;
	left:0px;
}