section{
  width: auto;
  height: 921px;

}

.eventos{
  width: 100%;
  height: 500px;
  float: left;

}

.texto_eventos{
  width: 800px;
  height: 200px;
  margin-left: 100px;
  margin-top: 70px;
  float: left;

}

.textos{
  width: 100%;
  height: 200px;

}

.titulo{
  font-size: 30px;
  font-family: aller_lightregular;
  font-weight: bold;
  margin-left: 90px;
  padding-top: 50px;
  color: #9c0404;

}

.conteudo_texto{
  font-size: 20px;
  font-family: aller_lightregular;
  margin-left: 80px;
  padding-top: 50px;

}

.botao_cadastrar{
  width: 100%;
  height: 200px;

}

.btn_reservar{
  width: 200px;
  height: 50px;
  margin-left: 80px;
  margin-top: 120px;
  border: 3px solid #9c0404;
  outline: none;
  color: #9c0404;
  background-color: #fff;
  font-size: 18px;
  font-family: aller_lightregular;
  float: left;

}

.btn_reservar:hover{
  background-color: #9c0404;
  color: #fff;
  transition: 0.2s;

}

.imagem_grande_evento{
  width: 700px;
  height: 200px;
  margin-left: 100px;
  margin-top: 70px;
  float: left;

}

.imagem_grande_evento img{
  width: 500px;
  height: 400px;
  margin-left: 100px;
  margin-top: -10px;

}

.eventos_fotos_comentarios{
  width: 100%;
  height: 330px;
  float: left;

}

.imagens_comentarios{
  width: 600px;
  height: 325px;
  background-color: #fff;
  margin-left: 70px;
  float: left;

}

.imagem_grande{
  width: 200px;
  height: 200px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

}

.imagem_grande img{
  width: 200px;
  height: 200px;
}

.imagem_evento1{
  width: 147.5px;
  height: 100px;
  background-color: yellow;
  float: left;
  margin-top: 15px;
  margin-left: 4px;

}

.imagem_evento1 img{
  width: 147.5px;
  height: 100px;

}


.imagem_evento2{
  width: 147.5px;
  height: 100px;
  background-color: black;
  margin-top: 15px;
  float: left;
  margin-left: 1px;

}

.imagem_evento2 img{
  width: 147.5px;
  height: 100px;

}

.imagem_evento3{
  width: 147.5px;
  height: 100px;
  background-color: yellow;
  margin-top: 15px;
  float: left;
  margin-left: 1px;

}

.imagem_evento3 img{
  width: 147.5px;
  height: 100px;

}

.imagem_evento4{
  width: 147.5px;
  height: 100px;
  background-color: black;
  margin-top: 15px;
  float: left;
  margin-left: 1px;

}

.imagem_evento4 img{
  width: 147.5px;
  height: 100px;

}

.mais_texto_do_evento{
  width: 500px;
  height: 325px;
  margin-left: 20px;
  float: left;

}

.mais_texto{
  font-size: 20px;
  font-family: aller_lightregular;
  margin-left: 20px;
  margin-top: 60px;

}


.avaliacao{
  width: 600px;
  height: 325px;
  margin-left: 20px;
  float: left;

}

.texto_avaliacao{
  font-size: 20px;
  font-family: aller_lightregular;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 31px;


}


.imagem_usuario{
  width: 100px;
  height: 100px;
  background-color: #000;
  margin-left: 490px;
  margin-top: 10px;
  border-radius: 50px;
  float: left;
  position: absolute;

}

.comentario{
  width: 500px;
  height: 270px;
  margin-left: 50px;
  margin-top: 50px;
  float: left;


}

.estrelas{
  width: 200px;
  height: 60px;
  margin-left: 260px;
  margin-top: 10px;

}
