/***
    Feito por: Larissa
    Data: 03/10/2017

***/

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#principal{
    width:100%;
    min-width:1700px;
    height:1400px;
    margin-left: auto;
    margin-right: auto;
}
.titulo_prato{
  color: #9c0404;
  font-family: aller_lightregular;


}

#cabecalho{
    width:98%;
    height:150px;
    font-size: 35px;
    padding-left: 2%;
    padding-top: 50px;
}
#menuteste{
    float: left;
    width:250px;
    height:1000px;
}
#menuteste ul li{
    width:96%;
    height:40px;
    font-size: 28px;
    padding-top: 10px;
    padding-left: 10px;
}
#conteudo_destaque{
    width:1600px;
    height:1100px;
    float: left;
    padding-left: 30px;
}

#content_pratos{
    width:1520px;
    height:498px;
}
#content_pratos p{
    float: left;
    font-size: 28px;
    padding-top: 20px;
}
#pesquisar{
    width:450px;
    float: right;
    font-size: 28px;
    padding-top: 20px;
}
#pesquisar button img{
    width:40px;
    float: right;
}
#pesquisar button{
    border: 0; background-color: transparent; cursor: pointer;
}
.slide_slcn_destaque{
    width:1580px;
    height:350px;
    float: left;
    clear: both;
    margin-top: 40px;
}

/***** Formatação do slide ******/

#content {
    margin: 0 auto;
    width: 1520px;
    height: 350px;
    border: solid 1px transparent;
}

#carrossel{
    float: left;
    width: 1380px;
    height: 340px;
    font-size:30px;
    text-align: center;
    overflow: hidden;
}

#carrossel ul li{
    width: 240px;
    max-height: 320px !important;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin: 0 2px;
    list-style: none;
}

.selecionado{
    box-shadow: 0px 0px 20px #303030;
}

#carrossel ul li img{
    width: 235px;
    height: 150px !important;
}

.detalhes_prato_carrossel{
    width:235px;
    font-size: 25px;
    min-height: 140px;
    text-align: center;
    font-family: aller_lightregular;
}

.detalhes_prato_carrossel a{
  color: #000;

}

#menu-carrossel {
    float: left;
    width: 40px;
    height:340px;
    font-size: 20px;
    line-height: 350px;
    text-align: center;
}
#menu-carrossel a img{
    width: 35px;
}
#carrossel ul li input{
    z-index: 99;
    width:18px;
    height:18px;
    margin-top: 2px;
    margin-left: 5px;
    position: absolute;
}

#content_comentario{
    width:1520px;
    height:485px;
}
#content_comentario p.titulo_comentario{
    color: #9c0404;
    font-size: 28px;
    padding-top: 20px;
    margin-bottom: 4px;
}

#pesquisar span{
  color: #9c0404;

}
.sem_filtro{
  color: #000;

}

.btn_cadastrar{
  width: 150px;
  height: 50px;
  margin-left: 40px;
  margin-top: 10px;
  border: 3px solid #9c0404;
  outline: none;
  color: #9c0404;
  background-color: white;
  font-size: 18px;
  font-family: aller_lightregular;
  float: left;

}

.btn_cadastrar:hover{
  color: white;
  background-color: #9c0404;
  transition: 0.2s ease all;

}



#content_comentario p{
    float: left;
    clear: both;
}
.div_comentario{
    width: 1400px;
    height: 400px;
    float: left;
    clear: both;
}
.ft_comentario{
    width: 380px;
    height: 390px;
    float: left;
    margin-right: 10px;
}
.content_img{
    width: 370px;
    height: 350px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content_img img{
    max-width: 370px;
    height: 350px;
}
textarea{
    float: left;
    font-size: 22px;
    resize: none;
}
.botao{
    padding-left:5px;
    padding-right:5px;
    font-size: 22px;
    float: left;
    margin-right: 4px;
}
