*{
  margin: 0px;
  padding: 0px;
}

body{

  background-image: url('../imagens/3.png');
  background-repeat: no-repeat;

}

.conteudo_nota_fiscal{
  width: 100%;
  height: 949px;

}

.botao_voltar{
  width: 100%;
  height: 200px;


}

.btn_voltar{
  width: 180px;
  height: 70px;
  margin-left: 20px;
  margin-top: 35px;
  border: 3px solid #9c0404;
  outline: none;
  color: #9c0404;
  background-color: white;
  font-size: 18px;
  font-family: aller_lightregular;

}

.btn_voltar:hover{
  color: white;
  background-color: #9c0404;
  transition: 0.2s ease all;

}

.cadastrar_nota_fiscal{
  width: 100%;
  height: 400px;
  float: left;

}

.campos_cadastro{
  width: 800px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

}

.campos_cadastro_nota_fiscal{
  width: 100%;
  height: 200px;

}

.titulo_cadastre{
font-size: 25px;
margin-left: 50px;
padding-top: 50px;
font-family: aller_lightregular;
color: #9c0404;

}

.nome{
  position: relative;
  margin-bottom: 2.4em;
  margin-left: 20px;
  margin-top: 40px;
  float: left;
}

.login_senha{
  color:#000;
  padding: 10px 10px 5px 0px;
  display: block;
  outline: none;
  border: none;
  width: 400px;
  border-bottom: 1px solid #9c0404;
  margin-left: 180px;
  font-size: 18px;
  font-family: aller_lightregular;
}



label{
  color: #000;
  font-size: 20px;
  font-weight: normal;
  font-family: aller_lightregular;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  margin-left: 185px;
  margin-top: -2px;
}

/* Animação */
.bar_nome {
  position: relative;
  display: block;
  margin-left: 180px;
  width: 69.5%;
}

.bar_nome:before, .bar_nome:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: -1px;
  position: absolute;
  background: #9c0404;
  transition: 0.2s ease all;
}

.bar_nome:before { left: 50%; }
.bar_nome:after { right: 50%; }

/* Validação de acordo com o texto digitado */
.login_senha:valid { border-bottom: 1px solid #9c0404; }

.login_senha:valid ~ .bar_nome:before,
.login_senha:valid ~ .bar_nome:after {
  background: #9c0404 !important;
}

.login_senha:focus ~ label,
.login_senha.used ~ label {
  top: -20px;
  font-size: 16px;
  color: #9c0404;
}

.login_senha:valid ~ label,
.login_senha:valid.used ~ label {
  color: #9c0404;
}

.login_senha:focus ~ .bar_nome:before,
.login_senha:focus ~ .bar_nome:after {
  width: 50%;
}


.campo_do_botao_cadastrar_nota_fiscal{
  width: 100%;
  height: 150px;

}

.btn_cadastrar{
  width: 250px;
  height: 70px;
  margin-left: 280px;
  margin-top: 35px;
  border: 3px solid #9c0404;
  outline: none;
  color: #9c0404;
  background-color: white;
  font-size: 18px;
  font-family: aller_lightregular;

}

.btn_cadastrar:hover{
  color: white;
  background-color: #9c0404;
  transition: 0.2s ease all;

}
