
<div id="conteinner-header">
    <div id="img-logo">
        <img src="imagens/logo1.png" alt="logo" />
    </div>

<nav id="menu-desktop">
<ul>
    <a href="index.php"> <li> Home </li> </a>
    <a href="destaque.php"> <li> Destaque </li> </a>
    <a href="galeria.php" > <li> Galeria </li> </a>
    <a> <li> Eventos </li> </a>
    <a> <li> Cardápio </li> </a>
    <a href="contato.php" > <li> Contato </li> </a>
    <a href="sobre.php"> <li> Sobre </li> </a>
  <li> Filiais </li>
</ul>
</nav>


    <div id="conteinner-login">
        <div id="entre">
            <h1> Bem Vindo! </h1>

            <a href="login.php"> <span class="text" > Entre </span></a><br>
            <a href="login.php"> <span class="text" > Cadastre-se </span></a>

        </div>
        <div id="user">
            <img src="imagens/user.png" alt="Usuario" />
        </div>
    </div>
</div>
