    <div id="menu">
                  <a href="index.php?filiais">
                    <div id="menu-filiais">
                      <div class="imagem-menu-filiais">

                      </div>
                      <div class="animation-menu">
                        <div class="titulo-animation">
                            Filiais
                        </div>
                        <div class="descricao-animation">
                          Saibam qual de nossas filiais está mais perto de você.
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="login.php">
                    <div id="menu-cadastro">
                      <div class="imagem-menu-filiais">

                      </div>
                      <div class="animation-menu">
                        <div class="titulo-animation">
                            Cadastre-se
                        </div>
                        <div class="descricao-animation">
                          Venha se cadastrar na melhor SteakHouse do Brasil!
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="contato.php">
                    <div id="menu-contato">
                      <div class="imagem-menu-filiais">

                      </div>
                      <div class="animation-menu">
                        <div class="titulo-animation">
                            Contato
                        </div>
                        <div class="descricao-animation">
                          Estamos prontos pata de ouvir!
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="cardapio.php">
                    <div id="menu-cardapio">
                      <div class="imagem-menu-filiais-cardapio">

                      </div>
                      <div class="animation-menu-cardapio">
                        <div class="titulo-animation-cardapio">
                            Cardapio
                        </div>
                        <div class="descricao-animation-cardapio">
                          Venha conhecer e ficar com agua na boca com o nosso cardapio!!
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="sobre.php">
                    <div id="menu-sobre">
                      <div class="imagem-menu-filiais-sobre">

                      </div>
                      <div class="animation-menu-sobre">
                        <div class="titulo-animation-sobre">
                            Sobre
                        </div>
                        <div class="descricao-animation-sobre">
                          Quer nos conhecer, clique aqui e saiba mais sobre a melhor steakhouse do Brasil.
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="reservas.php">
                    <div id="menu-reservas">
                      <div class="imagem-menu-filiais-sobre">

                      </div>
                      <div class="animation-menu-sobre">
                        <div class="titulo-animation-sobre">
                            Reservas
                        </div>
                        <div class="descricao-animation-sobre">
                          Gostou da nossa steakhouse? Venha já fazer sua reserva!
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="galeria.php">
                    <div id="menu-galeria">
                      <div class="imagem-menu-filiais-sobre">

                      </div>
                      <div class="animation-menu-sobre">
                        <div class="titulo-animation-sobre">
                            Galeria
                        </div>
                        <div class="descricao-animation-sobre">
                          Ficou curioso sobre nos e não quer sair de cas pra nos conhecer? Venha ver nossa galeria de fotos aqui.
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div id="menu-eventos">
                      <div class="imagem-menu-filiais-sobre">

                      </div>
                      <div class="animation-menu-sobre">
                        <div class="titulo-animation-sobre">
                            Eventos
                        </div>
                        <div class="descricao-animation-sobre">
                          Conheça agora os eventos que nos programamos pra você!
                        </div>
                      </div>
                    </div>
                  </a>

                </div>